# Virtuální prostředí
venv/
env/
.env
*.env
.env.*

# PyCharm a VS Code
.idea/
.vscode/
*.code-workspace

# Databázové soubory
db.sqlite3
*.sqlite3
*.db

# Soubory migrací (kromě __init__.py)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# Python bytecode a cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Statické soubory
staticfiles/
static/

# Média (uploady)
media/

# Logy a dočasné soubory
*.log
logs/
tmp/
*.swp  # VIM swap soubory

# Správci závislostí
Pipfile.lock
poetry.lock

# Testovací výstupy
.pytest_cache/
.coverage
htmlcov/

# Docker
docker-compose.override.yml
*.dockerfile

# OS a systémové soubory
.DS_Store  # macOS
Thumbs.db  # Windows

# Build složky (např. pro frontendové buildy)
build/
