{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Entities List" %}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <h1 class="text-3xl font-bold mb-6 text-center">{% trans "Entities List" %}</h1>
    
    <div class="bg-gray-200 p-8 rounded-lg shadow-lg border border-gray-200">
        <table class="min-w-full text-sm text-left text-gray-600">
            <thead>
                <tr class="border-b border-gray-200">
                    <th class="px-6 py-3 font-semibold text-gray-700">{% trans "Display Name" %}</th>
                    <th class="px-6 py-3 font-semibold text-gray-700">{% trans "Company Name" %}</th>
                    <th class="px-6 py-3 font-semibold text-gray-700">{% trans "Legal Entity Type" %}</th>
                    <th class="px-6 py-3 font-semibold text-gray-700">{% trans "Company ID" %}</th>
                    <th class="px-6 py-3 font-semibold text-gray-700">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr class="bg-white border-b border-gray-100">
                    <td class="px-4 py-1">{{ entity.display_name }}</td>
                    <td class="px-4 py-1">{{ entity.company_name }}</td>
                    <td class="px-4 py-1">{{ entity.legal_entity_type }}</td>
                    <td class="px-4 py-1">{{ entity.company_id }}</td>
                    <td class="px-4 py-1">
                        <a href="{% url 'entities:entity_edit' entity.pk %}" class="text-blue-500 hover:text-blue-700">
                            {% trans "Edit" %}
                        </a>
                        |
                        <a href="{% url 'entities:entity_delete' entity.pk %}" class="text-red-500 hover:text-red-700" onclick="return confirmDelete();">
                            {% trans "Delete" %}
                        </a>
                    </td>
                </tr>
                <tr class="bg-gray-100 h-2"></tr> <!-- Adding a spacer row to create more noticeable space between rows -->
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    
    <div class="mt-6 text-center">
        <a href="{% url 'entities:entity_create' %}" class="px-8 py-2 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-600 transition duration-300">
            {% trans "Create New Entity" %}
        </a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
function confirmDelete() {
    return confirm("{% trans 'Are you sure you want to delete this entity?' %}");
}
</script>
{% endblock %}
